.popover {
    white-space: pre-wrap;    
}

.calendar-day-timeslot {
    border-radius: 0.6vh;
    padding-left: 5%;
}

.timeslot-open:hover {
    background-color: rgb(200, 255, 200);
}

.timeslot-closed:hover {
    background-color: rgb(255, 200, 200);
}
